/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; }

app-root, app-layout {
  display: block;
  min-height: 100vh;
}

app-groupify { display: block; height: 100%; }

#display_name {
  transition: font-size 0.3s ease;
}
